.gameContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10,55px);
    gap: 0;
    width: fit-content;

    .block {
        width: 50px;
        height: 50px;
        border: 3px solid;
        border-left-color: rgba(255, 255, 255, 0.34);
        border-top-color: rgba(255, 255, 255, 0.34);
        border-right-color: rgba(0, 0, 0, 0.7);
        border-bottom-color: rgba(0, 0, 0, 0.7);
        box-shadow:
            inset rgba(60, 70, 85, 0.5) 0px 0px 3px 0px,
            inset rgba(60, 70, 85, 0.5) 0px 0px 5px 0px,
            inset rgb(0, 0, 0) 0px 0px 10px -20px;
    }
    .defaultBlock {
        box-shadow: none;
    }
    .gameOverContainer {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 48px;
        font-family: fantasy;
        backdrop-filter: blur(4px);
        background-color: #0000008c;
        color: white;

        .replay {
            cursor: pointer;
            font-family: monospace;
            font-size: 20px;
            padding: 8px 20px;
            margin-top: 10px;
        }
    }
}

.pauseRow {
    display: flex;
    flex: row;
    align-items: flex-start;
    padding: 10px;

    .pauseButton {
        background-color: black;
        border-radius: 5px;
        color: white;
        font-family: monospace;
        font-size: 20px;
        padding: 5px 10px;
        cursor: pointer;
    }
}
.upcomingContainer {
    .row {
        display: flex;
        flex-direction: row;
    }
    .upcomingBlock {
        width: 40px;
        height: 40px;
        border: 3px solid transparent;

        &Chosen {
            border-left-color: rgba(255, 255, 255, 0.34);
            border-top-color: rgba(255, 255, 255, 0.34);
            border-right-color: rgba(0, 0, 0, 0.7);
            border-bottom-color: rgba(0, 0, 0, 0.7);
            box-shadow:
                inset rgba(60, 70, 85, 0.5) 0px 0px 3px 0px,
                inset rgba(60, 70, 85, 0.5) 0px 0px 5px 0px,
                inset rgb(0, 0, 0) 0px 0px 10px -20px;
        }
    }
}
